---
import BaseDropdown from "./BaseDropdown.astro";
import { TranslationService } from "@/i18n/utils";

const { lang, ...props } = Astro.props;
const currentLangPath = `/${Astro.url.pathname.replace(/^\//, '').split('/')[0]}/` || '/it/'; // Default to 'it' if no language is specified
const subPath = Astro.url.pathname.replace(/^\//, '').split('/').slice(1).join('/') || ''; // Get the subpath after the language code
const languages = TranslationService.languagesArray;
---
<BaseDropdown 
    id="lang-dropdown" 
    value={currentLangPath} 
    {...props}
  >
  {languages.map(langObj => (
    <a data-value={`/${langObj.params.lang}/`} href={`/${langObj.params.lang}/${subPath}`}>
      <img 
        src={`https://flagsapi.com/${langObj.params.flag.toUpperCase()}/flat/32.png`}
        alt={langObj.label}
        class="w-5 h-5 object-cover rounded"
      />
      {langObj.label}
    </a>
  ))}
</BaseDropdown>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    const dropdown = document.querySelector('[data-dropdown-id="lang-dropdown"]');
    if (dropdown) {
      dropdown.addEventListener('change', function(e) {
        const val = e.detail.value;
        if (val.startsWith('/')) {
          window.location.pathname = val;
        }
      });
    }
  });
</script>
